$base-color: #cdc7c2;
$border-dark: rgba($base-color, 0.88);

$blue: #1A4E9C;
$grey: #6e6e6e;
$footer: #E6E6E6;
$lightgrey: #f5f5f5;

// $breakpoints: (sm: 640px, 
//                md: 768px, 
//                lg: 1024px) !default;